.myskills {
  /*background: #CC3232;*/
  display: none;
}

.technologies {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  border-width: 0px 2px 2px 0px;
  border-color: green;
  border-style: solid;
}

.technologies div {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  text-align:center;
  vertical-align:middle;
  display:table-cell;
}
h3{
  
}
.skillpictures {
  width: 35px;
  height: 35px;
}
